<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org ">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a class="btn btn-light btn-xs"
						th:href="@{'/ver/' + ${factura.cliente.id}}"
						th:utext="#{text.global.volver}"></a>
				</h4>

				<form th:action="@{/factura/form/}" th:object="${factura}"
					method="post">

					<div class="form-group row">
						<label class="col-sm-2 col-form-label"
							th:text="#{text.factura.form.cliente}"></label>
						<div class="col-sm-6">
							<input
								th:value="${factura.cliente.nombre} + ' ' + ${factura.cliente.apellido}"
								class="form-control" disabled="disabled" />
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label"
							th:text="#{text.cliente.factura.descripcion}"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{descripcion}" class="form-control"
								th:errorClass="'form-control is-invalid'" />
							<div class="invalid-feedback"
								th:if="${#fields.hasErrors('descripcion')}"
								th:errors="*{descripcion}"></div>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label"
							th:text="#{text.factura.form.observacion}"></label>
						<div class="col-sm-6">
							<textarea th:field="*{observacion}" class="form-control"></textarea>
						</div>
					</div>

					<div class="form-group row">
						<label for="buscar_producto" class="col-sm-2 col-form-label"
							th:text="#{text.factura.form.buscar}"></label>
						<div class="col-sm-6">
							<input type="text" name="buscar_producto" id="buscar_producto"
								class="form-control" />
						</div>
					</div>

					<table th:replace="factura/plantilla-items :: itemsFactura"></table>

					<table id="cargarItemProductos"
						class="table table-striped table-hover table-sm">
						<thead>
							<tr>
								<td th:text="#{text.factura.form.item.nombre}">Nombre</td>
								<td th:text="#{text.factura.form.item.precio}">Precio</td>
								<td th:text="#{text.factura.form.item.cantidad}">Cantidad</td>
								<td th:text="#{text.factura.form.item.total}">Total</td>
								<td th:text="#{text.factura.form.item.eliminar}">Eliminar</td>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
					<h5>
						<span class="badge badge-secondary" id="gran_total">0</span>
					</h5>
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="${titulo}"
								class="btn btn-secondary" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	<script th:replace="factura/js/autocomplete-productos :: javascript"></script>
</body>
</html>