<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
</head>
<body>
	<div id="i18n_eliminar_cliente" th:text="#{text.cliente.eliminarOk}"
		style="display: none;"></div>

	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a sec:authorize="hasRole('ADMIN')" class="btn btn-success btn-xs"
						th:href="@{/form}" th:text="#{text.cliente.crear}"> Crear
						cliente</a>
					<!--
					<a th:href="@{'/listar'(format=csv)}" class="btn btn-success btn-xs float-right">CSV</a>
					-->
					<a class="btn btn-success btn-xs float-right" th:href="@{'/listar'(page=${page.paginaActual-1}, format=csv)}">CSV</a>
					<a class="btn btn-outline-success btn-xs float-right mx-1" th:href="@{'/listar'(page=${page.paginaActual-1}, format=xml)}">XML</a>
					<a class="btn btn-outline-warning btn-xs float-right mx-1" th:href="@{'/listar'(page=${page.paginaActual-1}, format=json)}">JSON</a>
				</h4>
				<table class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>
							<th sec:authorize="hasRole('USER')">Id</th>
							<th th:text="#{text.cliente.nombre}">Nombre</th>
							<th th:text="#{text.cliente.apellido}">Apellido</th>
							<th th:text="#{text.cliente.email}">Email</th>
							<th th:text="#{text.cliente.createAt}">Fecha</th>
							<th th:text="#{text.cliente.factura.crear}"
								sec:authorize="hasRole('ADMIN')">Crear factura</th>
							<th th:text="#{text.cliente.editar}"
								sec:authorize="hasRole('ADMIN')">Editar</th>
							<th th:text="#{text.cliente.eliminar}"
								sec:authorize="hasRole('ADMIN')">Eliminar</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="cliente: ${clientes}">
							<td sec:authorize="hasRole('USER')"><a
								class="btn btn-primary btn-xs"
								th:href="@{/ver/} + ${cliente.id}" th:text="${cliente.id}"></a></td>
							<td th:text="${cliente.nombre}"></td>
							<td th:text="${cliente.apellido}"></td>
							<td th:text="${cliente.email}"></td>
							<td th:text="${cliente.createAt}"></td>
							<td sec:authorize="hasRole('ADMIN')"><a
								class="btn btn-success btn-xs"
								th:href="@{'/factura/form/' + ${cliente.id}}"
								th:text="#{text.cliente.factura.crear}"></a></td>
							<td sec:authorize="hasRole('ADMIN')"><a
								class="btn btn-primary btn-xs"
								th:href="@{/form/} + ${cliente.id}"
								th:text="#{text.cliente.editar}"></a></td>
							<td sec:authorize="hasRole('ADMIN')"><a
								class="btn btn-danger btn-xs"
								th:href="@{/delete/} + ${cliente.id}"
								th:text="#{text.cliente.eliminar}"
								onclick="return confirm(document.getElementById('i18n_eliminar_cliente').innerHTML);"></a></td>
						</tr>
					</tbody>

				</table>
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>