<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org ">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card border-primary text-center">
			<div class="card-header" th:text="#{text.login.titulo}"></div>
			<div class="card-body">
				<form th:action="@{/login}" method="post">
					<div class="form-group col-sm-6">
						<input type="text" name="username" id="username"
							class="form-control" th:placeholder="#{text.login.username}"
							autofocus required />
					</div>

					<div class="form-group col-sm-6">
						<input type="password" name="password" id="password"
							class="form-control" th:placeholder="#{text.login.password}"
							required />
					</div>

					<div class="form-group col-sm-6">
						<input type="submit" class="btn btn-lg btn-primary btn-block"
							th:value="#{text.login.boton}" />
					</div>
					<!-- _csrf, significa falsificación de peticiones en sitios cruzados,
					 es un tipo de exploit malcioso, es decir un hack (un ataque a un sitio
					  web en el que comandos no autorizados son enviados por alguna persona 
					  a nuestra app) que pueden ejecutar via comando nuestra aplicación, 
					  entonces con este tipo de protección evitamos este tipo de ataques. 
					  Spring Security de forma automatica, para cada formulario que envia una
					  petición post, incluye el _csrf.
					 -->
					<!-- 
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
					-->
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>